.skills-container {
  background-color: rgb(90, 90, 90);
  min-height: 95vh;
  width: 100%;
  scroll-snap-align: start;
  scroll-margin-top: 7vh;
  scroll-snap-type: y mandatory;
}
.logos {
  width: 20vh;
}
